<!doctype html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Contact | Your Name</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>


<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
          <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
          Brandon Harris
        </a>
        <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <!-- <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7"> -->
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a href="/index" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/portfolio" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
      </ul>
      <!-- </div> -->
    </nav>
  </div>
  <hr class="my-4">
  <div class="container border">
    <div class="row">
      <div class="col-lg-12">
        <h1>Portfolio</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <hr class="my-4">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="work">
          <a href="https://brandonmgh.github.io/Psychic-Game/"><img src="/images/tmg-article_default_mobile.jpg"
              alt="Psychic Game" height="200" width="274"></a>

          <h3>Psychic Game</h3>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="work">
          <a href="https://brandonmgh.github.io/unit-4-game/"><img src="/images/Link.jpg"
              alt="Crystal Collector Game" height="200" width="274"></a>

          <h3 class="CCG">Crystal Collector Game</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work">
          <a href="https://github.com/BrandonMGH/liri-node-ap"><img
              src="/images/botimage2.jpg" alt="Liri Bot" height="200"
              width="274"></a>

          <h3>Liri Bot </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="work">
          <a href="https://brandonmgh.github.io/TriviaGame/"><img src="/images/MontyPythonHolyGrail.png"
              alt="Trivia Game" height="200" width="274"></a>

          <h3>Trivia Game</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work">
          <a href="https://brandonmgh.github.io/GifTastic/"><img src="/images/Darth Vader.jpg"
              alt="Giftastic" height=" 200" width="274"></a>

          <h3>Giftastic</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work">
          <a href="https://github.com/BrandonMGH/Constructor-Word-Guess"><img
              src="/images/wordguesser.jpg" alt="wordguesser" height="200"
              width="274"></a>

          <h3>Constructor Word Guess</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="work">
          <a href="https://brandonmgh.github.io/Firebase-Assignment---Train-Scheduler/"><img
              src="/images/train.jpg" alt="Train Scheduler" height="200" width="274"></a>

          <h3>Train Scheduler</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work">
          <a href="https://santo092.github.io/Project-1/"><img
              src="/images/game-of-thrones-poster.jpg" alt="GOT Quiz" height="200"
              width="274"></a>

          <h3>GOT Quiz </h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work">
          <a href="https://github.com/BrandonMGH/MySQL_StoreFront_Database-"><img
              src="/images/OnlineShoppingIcon.png" alt="Bamazon" height="200"
              width="274"></a>

          <h3>Bamazon</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="work">
          <a href="https://codespot.herokuapp.com/"><img
              src="/images/codespot.PNG" alt="Train Scheduler" height="200" width="274"></a>

          <h3>CodeSpot</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work">
          <a href=""><img
              src="/images/gallery_5_6_42514.png" alt="" height="200"
              width="274"></a>

          <h3></h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work">
          <a href=""><img
              src="/images/gallery_5_6_42514.png" alt="" height="200"
              width="274"></a>

          <h3></h3>
        </div>
      </div>
    </div>
  </div>
  <footer>
    Copyright &copy;
  </footer>

</body>

</html>